body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  color: #fff;
}

.navbar {
  background-color: #17a2b8; /* Same bg-info color as in sluzby.html */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
  color: white;
  transition: color 0.3s ease;
}

.navbar .nav-link:hover {
  color: #d4f1f9; /* Lighter hover effect */
}

.navbar .nav-link.active {
  font-weight: bold;
  color: #d4f1f9;
}
.main-info {
  background: linear-gradient(135deg, #17a2b8, #0985ea45);
  color: white;
  margin-top: 56px;
}
.main-title {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.main-subtitle {
  font-size: 1.5rem;
  color: white;
  margin-top: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
footer {
  background-color: #007bff;
  color: #fff;
  padding: 0px 0;
  text-align: center;
  margin: 10 0;
  width: 100%;
}
.footer p {
  font-size: 0.9rem;
}

.custom-section {
  padding: 50px 10px;
  background-color: #f8f9fa;
  color: #000;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.animated-text {
  animation: slideInLeft 1s ease-out;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.custom-section {
  padding: 30px 0;
}


.card {
  border-radius: 10px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #007bff;
}

.card-text {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}

.text-center {
  text-align: center;
}

.mb-4 {
  margin-bottom: 30px;
}
.mt-6 {
  margin-top: 75px;
}

.shadow-sm {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.border-light {
  border: 1px solid #e0e0e0;
}
.negrovka {
  width: 60%;
  padding: 0;
}
.card-body {
  padding: 10px 16px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}